html
  background-image: url("../img/fons.jpg")
  background-attachment: fixed
  padding-left: 1%
  padding-right: 1%
  padding-top: 1%
  padding-bottom: 2.5%

body
  background-color: rgb(213, 189, 241)
  font-family: 'Raleway', sans-serif
  padding-left: 5%
  padding-right: 5%
  border-style: solid
  opacity: 90%

nav div
  background: linear-gradient(#C87FD7, #3f87a6)
  width: 80%
  padding-top: 2%
  padding-bottom: 2%
  padding-left: 7%
  margin: 0 auto

header h1
  font-size: 300%
  text-align: center
  border-bottom-style: dotted

div a
  color: white
  font-size: 120%
  margin-right: 3%

footer
  text-align: right
  float: none

.dadesimg
  text-align: center

.flex
  display: flex
  flex-wrap: wrap

.streaming
  text-align: center
  margin: 0 auto

.trailer
  float: left
  text-align: center

.reco
  float: right
  text-align: center

.footermedia
  padding-top: 30%

.footerlinks
  padding-top: 45%

.lletres
  color: indigo

.foto
  float: right

.nav
  display: none

.cap:hover .nav
  display: flex